<%=name%>, you're <%=age%> years old. Now, what are your three favorite numbers?
<form action = "/fav_nums" method = "post">
	<input type = "number" name = "user_favorite_number_one">
	<br>
	<input type = "number" name = "user_favorite_number_two">
	<br>
	<input type = "number" name = "user_favorite_number_three">
	<br>
	<input type = "submit">
</form>