<!DOCTYPE html>
<html>
	<head>
		<title>Web app.</title>	
	</head>
	<body>
		<h2>What is your name?</h2>
		<form action = "/input" method = "post">
			<input type = "text" name = "input">
			<input type = "submit">
			<%= name%>
		</form>
		<h2>How old are you?</h2>
		<form action = "/input1" method = "post">
			<input type = "text" name = "input1">
			<input type = "submit">
			<%= age%>
		</form>	
	</body>
</html>